In [2]:
#for loop

In [3]:
students=['hari','dola','sai','krishna']

In [6]:
for student in students:
    print(student)

hari
dola
sai
krishna

In [9]:
for student in students:
    print(f"please complete your work on time,{student}")

please complete your work on time,hari
please complete your work on time,dola
please complete your work on time,sai
please complete your work on time,krishna

In [10]:
ranks=['1','2','3','4']

In [27]:
for student in students:
    print(f" {student} you got ")
for rank in ranks:
    print(f"{rank} rank")

 hari you got
 dola you got
 sai you got
 krishna you got
1 rank
2 rank
3 rank
4 rank

In [28]:
for student in students:
    for rank in ranks:
        print(f" {student} you got {rank} rank")

 hari you got 1 rank
 hari you got 2 rank
 hari you got 3 rank
 hari you got 4 rank
 dola you got 1 rank
 dola you got 2 rank
 dola you got 3 rank
 dola you got 4 rank
 sai you got 1 rank
 sai you got 2 rank
 sai you got 3 rank
 sai you got 4 rank
 krishna you got 1 rank
 krishna you got 2 rank
 krishna you got 3 rank
 krishna you got 4 rank

In [29]:
#range

In [30]:
for value in range(1,10):
    print(value)

1
2
3
4
5
6
7
8
9

In [34]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
even_num=list(range(2,31,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [38]:
odd_num=list(range(1,30,2))
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]